<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/vuetify.min.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>{{ title if title else "Expense App" }}</title>
    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/axios.min.js"></script>
    {% block styles %} {% endblock %}
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
  <script>
    const getToken = () => localStorage.accessToken;
  </script>
  {% block scripts %} {% endblock %}
</html>
